
@model MusicStore.Models.Termekek
@{
    ViewBag.Title = "Termékeink";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="radiusHatter">
    <div class="container ">


        @foreach (var elem in ViewBag.mukodj)
        {

            <a style="background-color:white; border: 1px solid;" href="@Url.Action("Details", new { id = elem.Id })">
                <img style="margin: 30px; width: 120px;" alt="@elem.nev" src="@elem.kep" />
                <span>@elem.nev</span>
            </a>
        }

    </div>
</body>



