@{
    ViewBag.Title = "Sikeres vásárlás";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="radiusHatter">
    <div class="kozepre" >
        <h1 style="color:rgb(70, 84, 163)">Sikeres vásárlás!</h1>
        <h4>Köszönjük hogy nálunk vásárolt!</h4>
        <h6>
            Ha szeretne tovább böngészni kattintson a
            @Html.ActionLink("Főoldalra", "Index", "Home")
        </h6>
    </div>  
</body>

